#fecha-input{
  cursor: pointer;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

.autocomplete-items{
  max-height: 300px;
  overflow: scroll;
  z-index: 1;
}

.autocomplete-items-item:not(:last-child){
  border-bottom: 1px solid black;
}

.autocomplete-items-item{
  padding: 5px;
  padding-right: 100px;
  cursor: pointer;
  background-color: white;
}

.etiqueta{
  border-radius: 25px;
  padding: 0px 10px;
  background-color: rgb(89, 175, 255);
}

#huespedes-input{
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#huespedes_opciones{
  background-color: white;
  border: 1px solid black;
  height: 300px;
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  font-family: Arial;
  z-index: 1;
}

.div_habitaciones{
  background-color: white;
  border-right: 1px solid gray;
  height: 100%;
  width: 150px;
}

#div_addRoom{
  width: 150px;
  height: 100%;
}

.addRoom div{
  border-radius: 100%;
  padding: 10px 15px;
  display: inline-block;
  background-color: rgb(64, 64, 255);
  color: white;
  margin-left: 45px;
  margin-top: 25px;
  font-weight: bold;
}

.addRoom{
  width: 130px;
  height: 130px;
  margin-top: 70px;
  margin-left: 10px;
  background-color: rgba(165, 232, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.addRoom:hover{
  background-color: rgba(165, 232, 255, 0.9);
}

.addRoom p{
  font-size: 15px;
  margin-top: 12px;
  color: blue;
  font-weight: bold;
}

#done_boton{
  color: blue;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 20px;
}

#done_boton:hover{
  background-color: lightblue;
  transition: background-color 0.8s;
}

.separator{
  padding: 0px 10px;
}

.closeX{
  cursor: pointer;
  float: right;
  margin-right: 10px;
}