#islas span{
    font-size: 30px;
    -webkit-text-stroke: 0.7px rgb(0, 0, 0);
}

#islas div{
    padding: 5px;
    width: 230px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dificultad{
    border: 1px solid black;
    float: left;
    background-color: white;
}

#trajes{
    position: absolute;
    bottom: 10px;
    background-color: lightyellow;
    width: 80%;
    margin-left: 10%;
    border-radius: 25px;
    border: 3px dashed black;
}

.toast-success{
    background-color: rgb(125, 197, 125) !important; 
}

.toast-error{
    background-color: rgb(226, 128, 128) !important;
}

body{
    background: rgb(255, 255, 255);
    background: -webkit-linear-gradient(to right, #ffffff, rgb(11, 166, 255), rgb(251, 255, 5));
    background: linear-gradient(to right, #ffffff, rgb(11, 166, 255), rgb(251, 255, 5));
}

#mensajeFinal{
    margin-left: 300px;
    margin-top: 100px;
    font-size: 150px;
    -webkit-text-stroke: 5px black;
}